---
layout: dashboard
---

<div id="financial" class="wrapper hidden" data-title="Financial Metrics">
  {% include metrics.html dashboard=site.data.dashboard.financial %}
</div>

<div id="performance" class="wrapper" data-title="Performance Metrics">
  {% include metrics.html dashboard=site.data.dashboard.performance %}
</div>

<script>
  $(document).ready(function() {
    setInterval(function() {
      $('#financial').toggleClass('hidden');
      $('#performance').toggleClass('hidden');
      title = $('div:not(.hidden)').data('title')
      $('h1').html(title)
    }, 30000);
  })
</script>
