---
---

html, body{
  height:100%;
  font-family: 'Open Sans', sans-serif;
}

.hidden {
  display: none;
}

h1 {
  position: absolute;
  top: 2px;
  right: 20px;
  color: #eee;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
}

ul.grid {

  position: relative;
  height: 90%;
  margin: 0;
  padding: 0;

  > li {
    position: absolute;
    display: table;
    border: 3px solid #000;
    box-sizing: border-box;
    overflow: visible;

    > div {
      height: 100%;
      display: table-cell;
      vertical-align: middle;
    }

  }

}

@for $i from 1 through 30 {

  $ratio: 100.0 / $i;

  ul.rows-#{$i} {

    > li {
      height: 1.0% * $ratio;
    }

    @for $r from 1 through $i {

      > li.row-#{$r} {
        top: 1.0% * $ratio * ($r - 1);
      }

      > li.height-#{$r} {
        height: 1.0% * $ratio* $r;
      }

    }

  }

  ul.cols-#{$i} {

    > li {
      width: 1.0% * $ratio;
    }

    @for $r from 1 through $i {

      > li.col-#{$r} {
        left: 1.0% * $ratio * ($r - 1);
      }

      > li.width-#{$r} {
        width: 1.0% * $ratio* $r;
      }

    }

  }

}

.logo {
  max-height: 8%;
}

@media all and ( max-width: 600px ) {
  ul.grid > li {
    position: static;
    width: 100% !important;

    div {
      position: relative;
    }
  }
}
