<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Sport England KPI Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="_site">
  <link rel="stylesheet" type="text/css" href="stylesheets/grid.css" media="screen">
  <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  <a href='https://www.sportengland.org/'>
    <img src='assets/sport-england-logos/sport-england-logo-white/sport-england-logo-white-rgb.png' class='logo' />
  </a>

  <h1>{{ page.title }}</h1>

  {{ content }}
</body>
</html>
